/* GENERAL */

html,
body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1, 
h2 {
    font-family: 'Playfair Display', serif;
}


/* GRID */

.header {
    grid-area: header;
    border: 1px solid green;
}

.left-content {
    grid-area: main;
    border: 1px solid red;
}

.right-content {
    grid-area: sidebar;
    border: 1px solid blue;
}

.news-feed {
    grid-area: footer;
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 100px 200px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";
}


/* NAV */

.b-a {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: #c8f542; 
}

.menu-collapsed {
    transition: all .25s;
    position: fixed;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
    ul {
        transition: all 0s;
        position: fixed;
        left: -9000px;
    }
}

.bar {
    @extend .b-a;
    position: fixed;
    left: 12px;
    top: 24px;
    &:before {
        @extend .b-a;
        top: -8px;
    }
    &:after {
        @extend .b-a;
        top: 8px;
    }
}

.b-a-expanded {
    transition: all .25s;
    top: -0px;
}

.menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 15.5vh;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    ul {
        transition: all 0s;
        position: relative;
        left: 0;
        z-index: 2;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    a {
        transition: all .15s;
        text-decoration: none;
        font-size: 2em;
        padding: 5px;
        color: #fff;
        display: block;
        &:hover {
            background-color: rgba(white, .7);
            transition: all .15s;
            letter-spacing: 2px;
            color: #333;
        }
    }
    .bar {
        background-color: transparent;
        transition: all .25s;
        &:before {
            @extend .b-a-expanded;
            transform: rotate(45deg);
        }
        &:after {
            @extend .b-a-expanded;
            transform: rotate(-45deg);
        }
    }
}
