/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

.container {
    padding: 7%;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

p,
h3 {
    line-height: 1.5;
}

h4 {
    font-size: 1.25rem;
    margin: 20px auto 10px auto;
}

h6 {
    font-style: italic;
    font-size: 1rem;
}

.title-block {
    margin: 15rem auto 3rem auto;
}

.title {
    margin: 0 auto;
    text-align: right;
}

#title-1 {
    animation-duration: 1.25s;
    animation-name: slidein;
}

#title-2 {
    animation-duration: 2s;
    animation-name: slidein;
}

#title-3 {
    animation-duration: 3.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.intro {
    font-size: 1.2rem;
}

.intro-paragraph{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.border {
    border: 1px solid black;
}

:root {
    --mainColor: #c8f542;
}

.link {
    background:
            linear-gradient(
                to bottom, var(--mainColor) 0%,
                var(--mainColor) 100%
            );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .5s;
}

a:hover {
    background-size: 4px 50px;
}

.list {
    line-height: 1.5;
}

/* NEWSFEED */

.news-link {
    text-decoration: none;
    color: black;
}

.card-title {
    margin: 30px auto;
}

@mixin news-feed-img {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 250px;
        height: 250px;
}

#card-memory-image {
    background: url(/img/memory.png) no-repeat center center;
    @include news-feed-img;
}

#card-gulfstream-image {
    background: url(/img/gulfstream.png) no-repeat center center;
    @include news-feed-img;
}

#card-daynyacom-image {
    background: url(/img/daynyacom.png) no-repeat center center;
    @include news-feed-img;
}

.page-title {
    margin-top: 20%;
    text-align: center;
}

.icon {
    font-size: 5rem;
    color: white;
    margin: 1rem;
    transition: .5s;
}

.icon:hover {
    color: #c8f542;
}

.designer-info {
    font-size: .8rem;
    margin-top: 20px;
}

/* PORTFOLIO */

@mixin project-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

@mixin design-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project {
    margin: 20% auto 0 auto;
    transition: .2s;
}

.project:hover {
    transform: scale(1.02);
}

.project-title h4 {
    text-align: center;
    margin: 2% auto 10% auto;
}

.caption {
    text-align: center;
    font-size: .8rem;
}

.project-link {
    text-decoration: none;
    color: black;
}

.design-main-img {
    @include design-img;
    margin: 3em auto;
}

.design-inline-img {
    @include design-img;
    margin: 3em auto;
}

.project-page-title {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 40px;
}

.project-subtitle,
.secondary-subtitle {
    margin: 3rem auto .2rem auto;
}

.secondary-subtitle {
    font-size: 1.15rem;
}

.project-details {
    & p {
        margin-top: .1rem;
    }
    max-width: 80vw;
    margin: auto;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

/* WEB */

#gulfstream-project {
    background: url(/img/gs-people.png) no-repeat center center;
    @include project-img;
}

#memory-project {
    background: url(/img/memory-main.png) no-repeat center center;
    @include project-img;
}

#daynyacom-project {
    background: url(/img/daynyacom2014.png) no-repeat center center;
    @include project-img;
}

#arzberger-project {
    background: url(/img/arzberger-main.png) no-repeat center center;
    @include project-img;
}

#say-project {
    background: url(/img/say.png) no-repeat center center;
    @include project-img;
}

#bean-project {
    background: url(/img/bean-main.png) no-repeat center center;
    @include project-img;
}

.game-link {
    margin: 20px auto 20px auto;
    font-size: 1.5rem;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: .7rem;
    text-shadow: none;
}

code {
    background-color: #ebebeb;
}

.token.operator {
    background: none;
}

pre[class*="language-"].line-numbers {
    margin: 3em 0;
}

/* DESIGN */

#ysc-project {
    background: url(/img/ysc-cover.png) no-repeat center center;
    @include project-img;
}

#ppa-project {
    background: url(/img/ppa-bc.png) no-repeat center center;
    @include project-img;
}

#tomjones-project {
    background: url(/img/tom-jones-bc.png) no-repeat center center;
    @include project-img;
}

#solstice-project {
    background: url(/img/solstice.png) no-repeat center center;
    @include project-img;
}

#fionamiller-project {
    background: url(/img/fiona-miller-bc.png) no-repeat center center;
    @include project-img;
}

#inbloom-project {
    background: url(/img/in-bloom-logo.png) no-repeat center center;
    @include project-img;
}

#emilythompson-project {
    background: url(/img/emily-thompson-bc.png) no-repeat center center;
    @include project-img;
}


/* ABOUT */

.top-greeting {
    margin: 5rem auto 1rem auto;
    text-align: center;
}

.secondary-greeting {
    text-align: center;
}

.headshot {
    max-width: 250px;
    display: block;
    height: auto;
    margin: 2rem auto;
    transition: .5s;
    opacity: .8;
}

.headshot:hover {
    opacity: 1;
}

.find-me {
    color: white;
}

/* GRID */

header,
main,
section,
aside {
    grid-column: 1 / 13;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(100px, auto);
    background-color: white;
}

.grid-container, 
.news-feed {
    max-width: 800px;
    margin: 0 auto;
}

.news-feed {
    display: grid;
    grid-column: 1 / 13;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, auto);
    background-color: #4d4d4d;
    margin-top: 10px;
    padding: 2rem;
}

.card {
    text-align: center;
    background-color: rgb(218, 218, 218);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 8px 22px 0 rgba(0, 0, 0, 0.6);
    margin: 2rem auto;
    transition: .2s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.8), 0 10px 24px 0 rgba(0, 0, 0, 0.8);
}

footer {
    grid-column: 1 / 13;
    background-color: #4d4d4d;
    margin-top: 2rem;
}

.project {
    grid-column: 1 / 13;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.contact {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
}

/* NAV */

.b-a {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: #c8f542; 
}

.menu-collapsed {
    transition: all .25s;
    position: fixed;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
    ul {
        transition: all 0s;
        position: fixed;
        left: -9000px;
    }
}

.bar {
    @extend .b-a;
    position: fixed;
    left: 30px;
    top: 40px;
    &:before {
        @extend .b-a;
        top: -8px;
    }
    &:after {
        @extend .b-a;
        top: 8px;
    }
}

.b-a-expanded {
    transition: all .25s;
    top: -0px;
}

.menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 21vh;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    ul {
        transition: all 0s;
        position: relative;
        left: 0;
        z-index: 2;
        list-style: none;
        margin: 0;
        margin-top: 12vh;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    a {
        transition: all .15s;
        text-decoration: none;
        font-size: 1.5em;
        padding: 5px;
        color: #fff;
        display: block;
        &:hover {
            background-color: rgba(white, .7);
            transition: all .15s;
            letter-spacing: 2px;
            color: #333;
        }
    }
    .bar {
        background-color: transparent;
        transition: all .25s;
        &:before {
            @extend .b-a-expanded;
            transform: rotate(45deg);
        }
        &:after {
            @extend .b-a-expanded;
            transform: rotate(-45deg);
        }
    }
}
.breadcrumb-container {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: .7rem;
    margin: 5rem auto 0 auto;
}
.spacer {
    margin: 0 1%;
}
.current-page {
    opacity: .5;
}

/* MEDIA QUERIES */

/* small */
@media only screen and (min-width: 450px) {
   .container {
        padding: 4%;
    }
    .grid-container {
        padding: 6%;
    }
    .intro-paragraph {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem;
    }
    .title {
        margin: .5rem auto;
    }
    .menu-expanded a {
        font-size: 2rem;
    }
    .breadcrumb-container {
        justify-content: flex-end;
        margin: 3rem 0 0 0;
        font-size: .8rem;
    }
    .project-subtitle {
        font-size: 1.25rem;
    }
    .design-main-img,
    .design-inline-img,
    pre {
        max-width: 75%;
    }
    pre[class*="language-"].line-numbers {
        margin: 3em auto;
    }
}

/* medium */
@media only screen and (min-width: 768px) {
    .container {
        padding: 6%;
    }
    .grid-container {
        max-width: 100%;
    }
    aside {
        grid-column: 8 / 13;
    }
    main {
        grid-column: 1 / 8;
    }
    h1 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.75rem;
    }
    .project-details {
        & ul {
            font-size: 1.1rem;
            line-height: 1.75rem;
        }
    }
    .title {
        font-size: 3rem;
        margin: 1.2rem auto;
    }
    .news-feed {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @mixin news-feed-img {
        width: 200px;
        height: 200px;
    }
    #card-memory-image {
        @include news-feed-img;
    }
    #card-daynyacom-image {
        @include news-feed-img;
    }
    #card-gulfstream-image {
        @include news-feed-img;
    }
    .card-title h4 {
        font-size: 1rem;
    }
    .card-title h6 {
        font-size: .9rem;
    }
    .headshot {
        max-width: 100%;
    }
    .top-greeting {
        font-size: 2.75rem;
        margin-top: 10rem;
        text-align: left;
    }
    .secondary-greeting {
        margin-right: 1rem;
        text-align: left;
    }
    .page-title {
        font-size: 4rem;
    }
    .project-title h4 {
        margin: 2% auto;
    }
    .project-subtitle {
        font-size: 1.75rem;
    }
    .secondary-subtitle {
        font-size: 1.5rem;
    }
    .design-main-img {
        margin: 2em auto;
    }
    .menu-expanded a {
        font-size: 2.5rem;
    }
    .breadcrumb-container {
        font-size: 1rem;
    }
}

/* large */
@media only screen and (min-width: 1400px) {
    .container {
        padding: 4%;
    }
    .grid-container,
    .news-feed {
        max-width: 1000px;
        margin: 0 auto;
    }
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.9rem;
    }
    .title {
        font-size: 4.5rem;
    }
    .project-details {
        & ul {
            font-size: 1.2rem;
            line-height: 1.9rem;
        }
    }
    .menu-expanded {
        & ul {
            & a {
                font-size: 3em;
            }
        }
    }
    .headshot {
        margin: 2rem;
    }
    .design-main-img {
        margin: 3rem auto;
    }
    #gulfstream-project {
        background: url(/img/gs-people.png) no-repeat center bottom;
        @include project-img;
    }
}
