/* General */

.container-fluid {
    padding: 0;
}

html,
p,
h1, 
h4 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-style: italic;
}

.about-link {
    text-decoration: none;
    transition: .5s;
    color: black;
}

.about-link:hover {
    color: #f83ccf;
    text-decoration: none;
}

.row-1 h1, 
.row-2 h1,
.row-3 h1 {
    font-family: 'Playfair Display', serif;
    justify-content: center;
    text-align: center;
    color: white;
    transition: .5s;
}

.row-1 a:hover,
.row-2 a:hover,
.row-3 a:hover {
    text-decoration: none;
}

.row-1 {
    background-color: #f83ccf;
    transition: .5s;
}

.row-2 {
    background-color: #4ea7ad;
    transition: .5s;
}

.row-3 {
    background-color: #ad9144;
    transition: .5s;
}

.name,
.name-artist,
.name-designer {
    font-family: 'Playfair Display', serif;
    letter-spacing: .15em;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

.name {
    color: #f83ccf;
}

.name-artist {
    color: #ad9144;
}

.name-designer {
    color: #4ea7ad;
}

.thumbnail,
.thumbnail-design {
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail-design, 
.full-size-design {
    border: 1px solid rgb(146, 146, 146);
}

.thumbnail img,
.thumbnail-design img {
    width: 100%;
    transition: .5s;
}

.container-fluid {
    margin: 0px 20px;
}

.full-size,
.full-size-design {
    height: 325px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
}

.full-size img,
.full-size-design img {
    width: 100%;
    transform: scale(1.1);
    transition: .5s;
}

.thumbnail img:hover,
.full-size img:hover,
.thumbnail-design img:hover,
.full-size-design img:hover {
    opacity: .6
}

.art-title {
    margin: 40px 0px;
    font-style: italic;
}

.art-main {
    margin-bottom: 40px;
    width: 100%;
}

/* Nav */

.nav-link {
    text-align: right;
    font-family: 'Playfair Display', serif;
    letter-spacing: .3em;
    transition: .5s;
}

.prev-next {
    margin-bottom: 20px;
}

.next-link,
.prev-link {
    font-family: 'Playfair Display', serif;
    letter-spacing: .1em;
    transition: .5s;
    color: #888;
    text-decoration: none;
    margin: 20px;
}

.next-link:hover,
.prev-link:hover {
    color: #4ea7ad;
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 767.98px) { 
    .row-1 h1, 
    .row-2 h1,
    .row-3 h1 {
        justify-content: center;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        padding: 75px;
    }
    .row-1:hover {
        background-color: white;
    }
    .row-1 h1:hover {
        color: #f83ccf;
    }
    .row-2:hover {
        background-color: white;
    }
    .row-2 h1:hover {
        color: #4ea7ad;
    }
    .row-3:hover {
        background-color: white;
    }
    .row-3 h1:hover {
        color: #ad9144
    }
}

@media (min-width: 768px) {
    .row-1 h1, 
    .row-2 h1,
    .row-3 h1 {
        justify-content: center;
        font-size: 2.5em;
        text-align: center;
        padding: 145px 80px;
    }
    .row-1 a:hover,
    .row-2 a:hover,
    .row-3 a:hover {
        letter-spacing: .2em;
    }
}

@media (min-width: 992px) {
    .row-1 h1, 
    .row-2 h1,
    .row-3 h1 {
        font-size: 4em;
        padding: 120px 80px;
    }
    .row-1 a:hover,
    .row-2 a:hover,
    .row-3 a:hover {
        letter-spacing: .3em;
    }
}

@media (min-width: 1200px) { 
    .row-1 h1, 
    .row-2 h1,
    .row-3 h1 {
        font-size: 4em;
        padding: 100px;
        text-align: left;
    }
    .row-1 a:hover,
    .row-2 a:hover,
    .row-3 a:hover {
        letter-spacing: .6em;
    }
    .name,
    .name-artist,
    .name-designer {
        font-size: 2.5em;
        letter-spacing: .5em;
        padding: 100px 80px;
    }
}

@media (min-width: 1600px) { 
    .row-1 h1, 
    .row-2 h1,
    .row-3 h1 {
        font-size: 7em;
        padding: 95px;
        text-align: left;
    }
    .row-1 a:hover,
    .row-2 a:hover,
    .row-3 a:hover {
        letter-spacing: .7em;
    }
    .name,
    .name-artist,
    .name-designer {
        font-size: 3em;
        letter-spacing: .8em;
        padding: 100px 80px;
    }
}