---
@{section}
<div class="breadcrumb-container">
    <a href="index.html" class="link">home </a>
    <span class="spacer">//</span>
    <a href="web.html" class="link">web development</a>
    <span class="spacer">//</span><span class="current-page">signal</span>
</div>
<div class="project-details">
    <h1 class="project-page-title">Signal</h1>
    <p>
        Signal is a pre-open source project that I am helping to test. I've used it on the newest iteration of this
        website,
        as well as on my <a href="say.html" class="link">Strong Ass Yoga</a> site, and the online catalog I designed for
        <a href="arzberger.html" class="link">Arzberger.</a>
    </p>
    <p>
        Signal is a static site generator. It uses a document with markup to create a "page", which then serves as a
        template
        for the pages within the site. Because Signal works with files (in git), and does not provide a web interface
        like WordPress,
        it is not the most end user-friendly option. On websites like mine, with a portfolio, it is ideal to avoid
        having to recode each individual page.
    </p>
    <p>
        Below is a sample of my "page" template from the daynya.com project. The markup shown here is used to define the
        "page" as the template, then set up a grid-container, in which the content regions will be merged with the
        template upon the site build. Each individual page can contain the sections shown below, and the template will
        look for them and know where to place them. The template is stored in the root folder of the project, and the
        content pages thus pull from it to create the final page seen, stored in the build folder.
    </p>
    <pre class="line-numbers">
        <code class="language-html">
            &lt;div class=&quot;container&quot;&gt;
            &lt;div class=&quot;menu-collapsed&quot;&gt;
                &lt;div class=&quot;bar&quot;&gt;&lt;/div&gt;
                &lt;nav&gt;
                    &lt;ul&gt;
                        &lt;li&gt;
                            &lt;a href=&quot;{{ .Obj.Rel &quot;index.html&quot; }}&quot;&gt;HOME&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                            &lt;a href=&quot;{{ .Obj.Rel &quot;about.html&quot; }}&quot;&gt;ABOUT&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                            &lt;a href=&quot;{{ .Obj.Rel &quot;web.html&quot; }}&quot;&gt;WEB DEVELOPMENT&lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li&gt;
                            &lt;a href=&quot;{{ .Obj.Rel &quot;design.html&quot; }}&quot;&gt;GRAPHIC DESIGN&lt;/a&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/nav&gt;
            &lt;/div&gt;
            &lt;div class=&quot;grid-container&quot;&gt;
                {{if index .Obj.Regions &quot;header&quot;}}
                    &lt;header&gt;
                        {{index .Obj.Regions &quot;header&quot;}}
                    &lt;/header&gt;
                {{end}}

                {{if index .Obj.Regions &quot;main&quot;}}
                    &lt;main&gt;
                        {{index .Obj.Regions &quot;main&quot;}}
                    &lt;/main&gt;
                {{end}}

                {{if index .Obj.Regions &quot;aside&quot;}}
                    &lt;aside&gt;
                        {{index .Obj.Regions &quot;aside&quot;}}
                    &lt;/aside&gt;
                {{end}}

                {{if index .Obj.Regions &quot;section&quot;}}
                    &lt;section&gt;
                        {{index .Obj.Regions &quot;section&quot;}}
                    &lt;/section&gt;
                {{end}}

            &lt;/div&gt;
        &lt;/div&gt;

        {{if index .Obj.Regions &quot;footer&quot;}}
            &lt;footer&gt;
                {{index .Obj.Regions &quot;footer&quot;}}
            &lt;/footer&gt;
        {{end}}

        &lt;div&gt;
            {{.Obj.Markup}}
        &lt;/div&gt;
    
        &lt;script src=&quot;{{ .Obj.Rel &quot;scripts/site.js&quot; }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ .Obj.Rel &quot;scripts/prism.js&quot; }}&quot;&gt;&lt;/script&gt;
           
    </code>
    </pre>
</div>
---
<!-- -->